* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'sans-serif', 'ui-monospace', 'SFMono-Regular';
}

html, body {
  background-color: rgb(20, 20, 20);

  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
}

button {
  cursor: pointer;
}

.container {
  border: 2px solid black;
  max-width: 100%;
  width: auto; /* Автоматическая ширина */
  margin: 0 auto; /* Центрирование контейнера по горизонтали */
  box-sizing: border-box; /* Учесть padding и border в расчетах ширины */
}

.navbar {
  display: flex;
}

/* header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0px 0px 50px -20px;
} */

.desc-2carousel {
  position: absolute;
  z-index: 2;
  right: 1px;
  left: 1px;
  top: 1260px;
}





header {
    margin-bottom: 10px;
}

.bodyContent {
    margin-top: 50px;
    margin-bottom: 1000px;
    min-height: 100vh; 
}

.flex-head {
    display: flex;
    background-color:  #f5f5f5;
}

.btn-nav {
    margin-left: 40px;
    font-size: 20px;
}


.logo {
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
} 

.catalog {
    box-shadow: 0px 0px 50px -20px;
    color: rgb(66, 56, 1);
    border-radius: 20px;
    width: 350px;
    height: 520px;
    margin-left: 70px;
}

.h3-catalog {
    text-align: center;
    border-bottom: 3px solid gray;
    margin-bottom: 30px;
    color: black;
    font-size: 30px;
    background-color: white;
}

.catalog-flex {
    display: flex;
    width: 100%;
    height: 100%;
}

.btn-catalog {
    display: flex;
    font-size: 20px;
    width: 350px;
    max-width: 600px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.desc-2carousel {
  font-size: 35px;
  text-align: center;
}

.btn-text-nav {
    color: black;
    transition: all linear .25s;
    -webkit-transition: all linear .25s;
}

.btn-text-nav:hover {
    transform: scale(1.0);
    text-decoration: none;
  }

  .btn-text-nav::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.4s;
  }

  .btn-text-nav:hover::after {
    transform: scaleX(1);
  }

  .btn-text-nav:active {
    color: rgb(206, 177, 12);
  }
/* 2 */
  .btn-catalog-txt {
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
  }

  .btn-catalog-txt:hover {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.299);
    color: rgb(0, 0, 0);
  }

  .btn-catalog-txt:active {
    background-color: rgb(230, 207, 55);
  }

  
  .desc-flickity {
    margin-top: 110px;
    font-size: 40px;
    text-align: center;
  }

  .describe {
    font-size: 40px;
    padding-left: 80px;
    width: 560px;
    margin-right: 80px;
  }

  .partners {
    font-size: 45px;
    color: black;
  }

.partners-2 {
    font-size: 45px;
    color: rgb(0, 0, 0);
}

.interier {
    margin-right: 10px;
    border-radius: 15px;
    color: black;
    box-shadow: 0px 0px 30px -5px;
}

.logo-catalog {
    margin-right: 10px;
}


.btn-regist {
    color: rgb(153, 134, 26);
    font-size: 18px;
    margin-left: 45px;
    border: 2px solid rgb(155, 132, 0);
    border-radius: 20px;
    margin-top: 44px;
    width: 120px;
    height: 40px;
    transition: background-color 0.3s ease-in-out;
    border-radius: 20px;
}

.btn-regist:hover {
  border-radius: 20px;
  background-color: white;
  color: rgb(0, 0, 0);
}

.btn-regist:active {
    background-color: rgb(213, 198, 114);
}


.interierPart {
  position: relative;
  margin-left: 50px;
  width: 1000px; /* Задайте нужную ширину и высоту */
  height: 520px;
}

.interierPart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.650); /* Здесь 0.5 - это прозрачность, меняйте значение по желанию */
}

.hello-text {
  text-align: center;
  margin-top: 200px;
  font-size: 40px;
  color: #f5f5f5;
}

.hello-text-p {
  text-align: center;
  font-size: 20px;
  color: #f5f5f5;
}


#changeTheme-button {
  font-size: 20px;
  margin-left: 10px;
  color: black;
}

.darkTheme { /* Всё что будет добавлено/изменено в тёмной теме */
  background-color: rgb(20, 20, 20);
  color: white;


  .catalog {
    background-color: rgb(0, 0, 0);
    color: rgba(255, 255, 255, 0.662);
  }

  .flex-head {
    background-color: black;
  }

  .btn-catalog-txt {
    color: white;
  }
  

  .btn-text-nav {
    color: white;
  }

  .btn-text-nav::after {
    background-color: white;
  }

  #changeTheme-button {
    color: white;
  }

  .partners {
    color: white;
  }

  .flickity-button {
    background-color: rgb(212, 204, 204);
  }


}

 .whiteTheme { /* Всё что будет добавлено/изменено в светлой теме */
  background-color: white;


  
 

  

  header {
    color: black;
  }

  .h3-consult {
    color: black;
  }

  
  .btn-catalog-txt:hover {
    border-radius: 8px;
    background-color: rgba(23, 22, 22, 0.299);
    color: rgb(0, 0, 0);
  }

  .btn-catalog-txt:active {
    background-color: rgb(241, 220, 85);
  }


  .btn-regist p {
    color: black;
  }

  .btn-regist:hover {
    border-radius: 20px;
    background-color: rgb(162, 160, 160);

  }

  
  .btn-regist:active {
      background-color: rgb(213, 198, 114);
  }
  
}

footer {
  text-align: center; 
  width: 100%;
  background-color: rgb(3, 5, 17);
  margin-top: 100px;
  color: white;
}  

.logoTh {
  display: flex;
  margin-left: 100px;
  margin-top: 48px;
  width: 30px;
  height: 30px;
}


.consultantImg {
  margin-left: 100px;
}

.formConsult {
  background-color: rgba(240, 248, 255, 0.758);
  display: flex;
}

.describeForm {
  font-size: 45px;
  justify-content: center;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 45px;
  margin-bottom: 80px;
}

.describeForm p {
  font-size: 30px;
}

.inputsForm {
  margin-left: 200px;
  width: 100px;
}

.close-button {
  background-color: rgba(245, 245, 220, 0);
}

input {
  color: black;
  border: 1px solid black;
  height: 60px;
  margin-bottom: 30px;
  text-indent: 10px;
}

#firstInput {
  margin-top: 60px;
}

input::placeholder {
  text-align: left;
  padding-left: 15px;
}

.btn-send {
  transition: border 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;


  background: orange;
  width: 222px;
  height: 60px;
}

.btn-send:hover {
  color: black;
  border: 2px solid black;
  background-color: aliceblue;
}

.btn-send:active {
  background-color: rgba(240, 248, 255, 0.304);

}

.title {
  padding-bottom: 80px;
  color: white;
  margin-top: 70px;
  font-size: 40px;
  text-align: center;
}

.flex-nav-png {
  color: black;
  text-decoration: none;
}

.btnHamburg {
  color: black;
  text-decoration: none;
}


#logo-mail {
  height: 85px;
}

.image-navigation {
  color: rgba(255, 255, 255, 0.24);
  box-shadow: 0px 0px 10px 20px;


  border-radius: 10px;
  height: 300px;
  width: 500px;
}

.flex-navig {
  display: flex;
}


.navig-jpg {
  margin-top: 50px;
}

.navig-jpg img {
  width: 600px;
  height: 390px;
}

footer {
  text-align: center;
  color: aliceblue;
  font-size: 15px;
  height: 30px;
  background-color: rgb(31, 31, 43);
}

#h3-mag-elec, .parag-navig {
  color: black;
}


/* Авто-центрирование элементов по центру начинается отсюда */
.logo-2, .describe, .interier, .image-navigation {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}


@media (max-width: 1336px) { 
  .btn-text-nav {
    font-size: 15px;
  }

  .inputsForm {
    margin-left: 80px;
  }

  .describe {
    padding-left: 40px;
    margin-left: -25px;
    margin-right: 0px;
    font-size: 25px;
  }

  #changeTheme-button {
    font-size: 17px;
  }


  .btn-regist {
    font-size: 15px;
  }
  
  .describe span {
    font-size: 27px;
  }

  .catalog {
    width: 270px;
    height: 500px;
  }

  .btn-catalog-txt {
    font-size: 15px;
  }

  .btn-regist {
    margin-bottom: 20px;
  }

  .brown-block {
    margin-top: 50px;
  }

  .describeForm {
    margin-bottom: 10px;
    padding-top: 45px;
  }
}


@media (max-width: 1266px) {
  .consultantImg {
    width: 450px;
    height: 300px;
    margin-left: 50px;
    margin-right: 100px;
  }

  .h3-consult {
    font-size: 30px;
  }

  #firstInput {
    margin-top: 15px;
  }

  input {
    height: 40px;
  }

  .logoTh {
    margin-left: 20px;
  }

}

@media (max-width: 1010px) {
  .title h3, .parag-navig, .partners-2 {
    font-size: 30px;
  }

  .navig-jpg img {
    width: 400px;
    height: 200px;
  }

    .title {
    margin-top: 40px;
  }

  .btn-regist {
    margin-left: 0;
  }
}


@media (max-width: 950px) {
  .btn-nav {display: none;}

  .logoTh, #changeTheme-button, .btn-regist  {display: none;}

  .logo {
    margin-left: 0;
    margin-right: 20px;
  }

  #changeTheme-button {
    margin-right: 50px
  }

  .navbarr {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
  }
  
  .menu {
    z-index: 1001;
    position: fixed;
    top: 0;
    left: -200px;
    width: 200px;
    height: 100%;
    background-color: gray;
    transition: left 0.3s ease-in-out;
  }
  
  .menu.open {
    z-index: 1001;
    left: 0;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: -13px 20px;
  }
  
  li {
    margin: 20px 0;
    font-size: 18px;
    cursor: pointer;
  }

  .hamburger-button-container {
    cursor: pointer;
    margin-top: 30px;
    margin-left: 10px;
    padding: 5px 10px; 
  }
  
  .close-button {
    
    font-size: 60px;
    color: black;
  }

  #changeTheme-button-Changed {
    background-color: #f5f5f500;
  }

  #changeTheme-button {
    margin-right: 200px;
    margin-left: 0;
  }

  .logo {
    margin-left: 0;
    margin-right: 120px;
  }

  .changeTh-btn-nav {
    display: flex;
    margin-bottom: 20px;

  }

  .btn-regist-Changed {
    color: white;
    font-size: 18px;
    border: 2px solid white;
    border-radius: 20px;
    margin-right: 100px;
    margin-bottom: 25px;
    width: 120px;
    height: 40px;
  }

  .logoTh-Changed {
    margin-right: 5px;
  }

  .logoTh, #changeTheme-button, .btn-regist {
    display: none;
  }

  .flex-nav-png {
    display: flex;
  }

  .flex-nav-png img {
    margin-bottom: 20px;
    margin-right: 5px;
  }

  .logo {
    display: none;
  }

  .hamburger-button-container {
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
  }

  

  .describe {
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .inputsForm {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
}

@media (max-width: 950px) {
  .inputsForm {
    margin-left: 60px;
  }
}

@media (max-width: 903px) {
  .consultantImg {
    margin-left: 0;
  }

  .inputsForm {
    margin-left: 0;
  }
}

@media (max-width: 895px) {
  .catalog-flex {
    display: block;
  }

  .interierPart {
    margin-left: 0;
    margin-right: 0;
    width: auto;
  }

  .logo-2 {
    display: block;
  }

  .describe {
    padding-left: 0;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 30px auto;
  }
 
  .catalog {
    display: none;
  }
}


@media (max-width: 775px) {
  .consultantImg {
    margin-right: 0;
  }

  #changeTheme-button {
    margin-right: 100px;
  }
}

@media (max-width: 710px) {

}

@media (max-width: 673px) {
  .formConsult {
    display: block;
  }

  .consultantImg {
    display: none;
  }

  #firstInput {
    margin-top: 10px;
  }

  .inputsForm {
    margin-left: 240px;
  }

  .btn-send {
    margin-bottom: 10px;
  }

  .inputsForm input {
    margin-right: 20px;
  }
}

@media (max-width: 441px) {
  footer {
    margin-top: 450px;
  }
}

@media (max-width: 425px) {
  .inputsForm {
    margin-left: 50px;
  }
}

@media (max-width: 650px) {
  #changeTheme-button {
    margin-right: 40px;
  }

  .logo {
    margin-left: 0;
    margin-right: 50px;
  }

  .describe {
    margin-left: 0;
  }

  

 
}

@media (max-width: 580px) {

  .describe {
    margin: 30px 0;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
  }

  .describe span {
    font-size: 25px;
  }

  .describeForm h3 {
    font-size: 20px;
  }

  .describeForm p {
    font-size: 15px;
  }

  #h3-mag-elec, .partners-2, .parag-navig {
    font-size: 25px;
  }

  
  .inputsForm {
    margin-left: 160px;
  }
}


@media (max-width: 525px) {
  .inputsForm {
    margin-left: 130px;
  }

}

@media (max-width: 500px) {
  .image-navigation {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .inputsForm {
    margin-left: 115px;
  }
}

@media (max-width: 440px) {
  .interierPart {
    height: 400px;
  }

  .interierPart h1 {
    margin-top: 130px;
    font-size: 30px;
  }
}

@media (max-width: 412px ) {
  .inputsForm {
    margin-left: 95px;
  }

  .carousel-container {
    margin-bottom: 1000px;
  }

  footer {
    margin-top: 550px;
  }
}

@media (max-width: 374px ) {
  .inputsForm {
    margin-left: 60px;
  }
}

@media (max-width: 304px ) {
  .inputsForm {
    margin-left: 30px;
  }

  .hello-text h1 {
    font-size: 130px;
  }

  
}

@media (max-width: 273px) {
  .interier {
    margin-top: 40px;
    width: 200px;
    height: 200px;
  }


  .describe {
    font-size: 18px;
  }

  .image-navigation {
    width: 100px;
    height: 100px;
  }

  .inputsForm input {
    width: 190px;
    margin-right: 0;
  }

  .btn-send {
    width: 190px;
  }
}
 
@media (max-width: 254px) {
  .inputsForm input {
    width: 180px;
  }

  .btn-send {
    width: 180px;
  }

  .overlay h1 {
    margin-top: 40px;
  }
}

@media (max-width: 245px) {
  .inputsForm {
    margin-left: 0;
  }

  .inputsForm input {
    width: 190px;
  }

  .btn-send {
    width: 190px;
  }
}

@media (max-width: 241px) {
  .inputsForm {
    margin-left: 0;
  }

  .inputsForm input {
    width: 210px;
  }

  .btn-send {
    width: 210px;
  }
}

@media screen and (min-width: 950px) {
.hamburger-button-container, .close-button, .btnHamburg, .btn-regist-Changed, .logoTh-Changed, #changeTheme-button-Changed, .flex-nav-png {
    display: none;
  }

  
}


@media screen and (min-width: 895px) {
  .logo-2 {
    display: none;
  }
}


.btn-nav {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.btn-catalog {
  background-color: #f5f5f500;
}

#changeTheme-button {
  background-color: #f5f5f500;
}

.btn-catalog {
  margin-bottom: 18px;
  margin-left: 10px;
}

.btn-text-nav {
  padding-bottom: 10px;
}